<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/note.css">
    <title>Document</title>
</head>
<body>
    <div class="noteOrganiser">
        <div class="topBar">
            <input type="button" value="logout">
            <form action="https://takingnote-app.herokuapp.com/createNewNote" method="post">
                <input type="submit" value="+">
            </form>
        </div>
        <div class="notes">
            <%for(let i = 0; i<notes.length ; i++){%>
                <p><%=notes[i].name%></p>
            <%}%>
        </div>
    </div>
    <div class="notepad" id=<%=identificationNumber%>>
        <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
        <script type="text/javascript" src="/richtexteditor/rte.js"></script>
        <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
        <div id="div_editor1">
	        <p><%=contents%></p>
        </div>
        <script>
	        var editor1 = new RichTextEditor("#div_editor1"); 
            editor1.attachEvent("change",()=>{
                console.log(editor1.getText());
            }) 
	        //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
        </script>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        
    </script>

</script>
</body>
</html>
