<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/note.css">
    <title>Document</title>
</head>
<body>
    <div class="noteOrganiser">
        <div class="topBar">
            <input type="button" value="logout">
            <input type="button" value="+" href="">
        </div>
        <div class="notes">
            <p><%=notes%></p>
        </div>
    </div>
    <div class="notepad">
        
        <div>

        </div>
    </div>
</body>
</html>
