body{
    display: flex;
    flex-direction: row;
}

.noteOrganiser{
    border-radius: 10px 10px 0px 0px;
    background-color: brown;
    width: 25vw;
    height: 100vh;
    border-radius: 10px;
}

.notepad{
    background-color: white;
    width: 70vw;
    height: 100vh;
}

.topBar{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.topBar *{
    margin-left: 2%;
    margin-right: 2%;
}
.notes{
    display: flex;
    flex-direction: column;
    color: white;
    
}
.notes *{
    border: 1px solid red;
    margin: 0;
}