.noteOrganiser{
    background-color: black;
    width: 50vw;
    height: 100vh;
}

.notepad{
    background-color: white;
    width: 50vw;
    height: 100vh;
}

.topBar{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}